#root {
  min-width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  position: relative;

  --header-height: 48px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  height: var(--header-height);
  width: 100%;
  padding: 0 16px;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-background);
  border-bottom: 2px double var(--color-border);
}

main {
  --content-width: minmax(auto, 712px);
  --margin-width: minmax(96px, 1fr);
  overflow-y: scroll;
  padding-bottom: 30vh;
  width: 100%;
  margin-top: var(--header-height);
  display: grid;
  grid-template-columns:
    [full-start] var(--margin-width) [content-start] var(--content-width)
    [content-end] var(--margin-width) [full-end];

  @media (max-width: 768px) {
    --content-width: minmax(auto, 712px);
    --margin-width: minmax(48px, 1fr);
  }
  @media (max-width: 540px) {
    --content-width: 1fr;
    --margin-width: 24px;
  }
}

main > .content {
  grid-column: content;
  padding-top: 0.5rem;
  display: flex;
  flex-direction: column;
}
